body {
    background: linear-gradient(90deg, rgba(237, 33, 58, 1) 0%, rgba(147, 41, 30, 1) 100%);
    overflow: hidden;
}

.title, .subtitle {
    color: white;
}

footer {
    padding: 1.5vh !important;
    background-color: rgba(35, 39, 42, 0.2) !important;
    color: rgba(255, 255, 255, 0.75);
}

footer a {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.25s;
}
footer a:hover {
    color: white;
}

i {
    color: white;
    font-size: 7vh;
    padding-bottom: 1.25vh;
}